@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: rgb(36, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  position: fixed;
  width: 100%;
  height: 60px;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.nav-list a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.cart-icon {
  height: 20px;
}
