@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: rgb(36, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.nav-list a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.cart-icon {
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: burlywood;
}

#hero {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  color: rgb(65, 44, 18);
  min-width: 500px;
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: rgba(0, 0, 0, 0.596);
}

.btn a {
  color: #f7ededbd;
  background-color: rgb(37, 21, 21);
  padding: 8px 20px;
  border-radius: 8px;
}

.hero-img {
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 25%;
}

#about {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about p {
  padding: 20px;
  max-width: 80%;
}

#advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.advantages {
  background-color: rgb(155, 120, 74);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 300px;
}

.advantages img {
  height: 50px;
}

.advantages-container {
  display: flex;
  gap: 20px;
}

#contactos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 110px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.contact-info {
  font-weight: 800;
  border-bottom: #0e0a0abd;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 40px;
}

.contact img {
  height: 20px;
}

.contact span {
  color: rgb(56, 51, 51);
}

.redes {
  display: flex;
  gap: 15px;
  max-width: 1200px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 50px 15px 15px;
  background-color: burlywood;
  text-decoration: underline;
}
